.HeaderContainer {
    width: 100%;
}

.HeaderWrapper {
    height: 40px;
    background-color: #F2F2F2;
    display: flex;
    padding: 10px 10%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.HeaderImage {
    width: 40px;
    height: 40px;
}

.HeaderH2 {
    font-size: 30px;
    margin: 0; /* 기본 margin 제거 */
    text-align: center; /* 가운데 정렬 */
}
