
.LogCard {
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.LogCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0.05, 0.05, 0.05); /* 그림자 강도를 높여 강조 */
}


.Upper {
    padding: 10px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.AuthorImage {
    width: 20px;
    height: 20px;
}

.Author {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5px;
}

.LogCardImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
}

.Title {
    padding: 10px 5%;
    font-size: xx-large;
    border-top: 1px solid rgb(215, 215, 215);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Preview {
    margin: 10px;
    padding: 0px 5%;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-overflow: ellipsis;
}