
.LogCard {
    width: 100%;
    height: 400px;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
}

.Upper {
    margin: 10px;
    padding: 0px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.AuthorImage {
    width: 20px;
    height: 20px;
}

.Author {
    padding: 0px 5%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.LogCardImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 200px;
    
}

.Title {
    margin: 10px;
    padding: 0px 5%;
    font-size: xx-large;
}
.Preview {
    padding: 0px 5%;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-overflow: ellipsis;
}