
.SearchBar {
    width: 50%;
    height: 40px;
}

.SearchBar input {
    width: 100%;
    height: 100%;
    padding: 10px;

    border: 1px solid #ccc;    /* 테두리 색상 및 두께 */
    border-radius: 2px;
    outline: none;             /* 포커스 시 나타나는 외곽선 제거 */
    transition: border-color 0.3s ease; /* 포커스 시 테두리 색상 전환 */
}

.SearchBar button {
    height: 100%;
    width: auto;

    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #003f7f;
    transform: scale(0.98);
}

button > img {
    width: 40px;
    height: 40px;
}